/* Hero Banner */
.hero {
  background-image: url(../images/pinkbanner.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.enter-button {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}
